# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.python-version
.env
.venv
env/
venv/
langenv/
ENV/
env.bak/
venv.bak/

# Cache
__pycache__/
.vector_cache

# Configs
keys.py

# Misc
.DS_Store
Data/


# Directory with output figures
output/

